asgiref==3.6.0
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2
filelock==3.11.0
gunicorn==20.1.0
lxml==4.9.2
Pillow==9.5.0
platformdirs==3.2.0
psycopg2-binary==2.9.6
python-pptx==0.6.21
sqlparse==0.4.3
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.21.0
whitenoise==6.5.0
XlsxWriter==3.1.2
